<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>BMW Graphing Tool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<link href="/custom.css" rel="stylesheet">
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="col-md-auto">
            <img src="/BMW.png" alt="..." height="75"></a>
        </div>
        <a class="navbar-brand" href="/">BMW Graphing Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Uploaded files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pending graphs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edit graph</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="center-rectangle">
        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th th:each="col :${records.get(0)}" style="white-space: nowrap">
                        <label>
                            <input type="radio" name="x-axis">
                            X axis
                        </label>
                            <br/>
                        <label>
                            <input type="checkbox">
                            Y axis
                        </label>
                            <br/>
                            <span th:text="${col}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row: ${records.subList(1,records.size())}">
                    <td th:each="col :${row}" th:text="${col}">#</td>
                    <td th:if="${records.get(0).size() gt row.size()}" colspan="99"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <canvas id="chart"></canvas>
    </div>
</div>


<footer class="text-white text-center py-3 mt-5">
    BMW Graphing Tool &copy; 2023
</footer>

<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
"></script>
<script src="
https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js
"></script>
<script src="
https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js
"></script>


<script th:inline="javascript">
    Chart.defaults.global.defaultFontColor = '#FFF';
    const values = [[${data}]];

    const chart = new Chart('chart', {
        type: 'line',
        data: {
            labels: values[1],
            datasets: [
                {
                    data: values[3],
                    borderColor: '#36A2EB',
                    backgroundColor: 'rgba(155,208,245,0)',
                },
                {
                    data: values[4],
                    borderColor: '#11ff89',
                    backgroundColor: 'rgba(155,208,245,0)',
                }

            ]
        }
    });
</script>
</body>
</html>

